<div class="container">
  <div class="row margin">
    <div class="row">
      <div class="col-md-7 shadow detail">
        <h2 style="font-size: 25px; margin-bottom: 10px;">Account Benfits</h2>
        <ul style="text-align: left; color: white; font-family: 'Nunito Sans', sans-serif;">
          <li>A savings account comes with a passbook and cheque book feature</li>
          <li>You can receive payments and make payments from your savings accounts</li>
          <li>Auto debits and auto credits can be set up from your savings accounts</li>
          <li>Banks offer ATM cum debit cards to savings bank account holders</li>
        </ul>
      </div>
      <div class="col-md-4 shadow detail backImage">
        <!-- <h2>bank Image</h2> -->
      </div>
    </div>
  </div>
  <div class="row margin">
    <div class="row">
      <div class="col-md-3 shadow detailNew">
        <a routerLink="/home"><img src="../../assets/images/credit-card2.png" alt="" style="padding-top: 5px;"></a>
        <h2 class="cards">Credit Cards</h2>
      </div>
      <div class="col-md-3 shadow detailNew">
        <a routerLink="/home"><img src="../../assets/images/fixed-deposit.png" alt="" style="padding-left: 30px;"></a>
        <h2 class="cards">Fixed Deposits</h2>
      </div>
      <div class="col-md-3 shadow detailNew">
        <a routerLink="/home"><img src="../../assets/images/loan2.png" alt="" style="padding-top: 10px;"></a>
        <h2 class="cards" style="padding-top: 10px;">Personal Loan</h2>
      </div>
    </div>
  </div>
</div>
