.margin{
    padding-left: 40px;
}
.detail{
    /* background-color: rgba(255, 99, 71, 0.154); */
    min-height: 200px;
    margin: 20px 10px;
    padding: 20px;
    min-width: 200px;
    text-align: center;
}
.detailNew{
    min-height: 200px;
    min-width: 330px;
    margin: 20px 10px;
    text-align: center;
    padding: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
h2{
    color: white;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
}
.cards{
        font-size: 20px;
        
}
.backImage{
    background-image: url('../../assets/images/banking_imge.png');
    background-position: center;
}